.about {
    display: flex;
    padding: 50px;
    align-items: flex-start;
    justify-content: center;

}

.about__container {
    display: block;
    margin-left: 20px;
}
.about__title{
    margin-block: 1em .5em;
    margin-bottom: 10px;

}
.about__paragraph {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.about__signature {
    margin-left: 800px;
    padding: 30px;
}

@media screen and (min-width: 0){

}

@media screen and (min-width: 768px){

  }

@media screen and (min-width: 992px){

}