
.contact {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
.section__title{
  margin-top: 10px;
}
.contact__text{
  margin-top: -10px;
}
.contact__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1.5em;
}

.contact__image {
  display: none;
}

.form{
  width: 600px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 450px;
  padding: 1em 1.5em;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0 3px 6px var(--shadow);
}

.form__item {
  display: flex;
  flex-direction: row;
  gap: .15em;
  justify-content: space-around;
  font-size: 1em;
}

.form__hint {
  display: none;
  font-size: .83em;
  color: red;
  line-height: 1.25;
  color: var(--text-medium-emphasis);
}

.form__item:focus-within .form__hint {
  display: initial;
}

.form__hint--example {
  display: inline-block;
  padding: 0 .3em;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.form__input-container {
  position: relative;
  margin-top: .15em;
}

.form__input {
  width: 250px;
  padding: .6em 1em;
  border: none;
  border-radius: var(--border-radius);
  font-size: .95em;
  line-height: 1;
  background: rgb(250, 219, 162);
}

.form__input:focus {
  outline: var(--outline);
}

.form__icon-container {
  position: absolute;
  top: 24%;
  right: .5em;
  display: none;
  width: 24px;
  aspect-ratio: 1;
  font-size: 1em;
  line-height: 0;
  color: green;
}

.form__icon {
  display: none;
}

.form__icon--valid {
  color: var(--success);
}

.form__icon--invalid {
  color: var(--error);
}

.form__textarea {
  min-height: 90px;
  resize: vertical;
}

.form__textarea+.form__icon-container {
  top: 40%;
}

.form__button {
  width: 160px;
  max-width: 100%;
  height: 48px;
  padding: 0;
  margin-left: auto;
  font-size: 1.03em;
  font-weight: 600;
  color: white;
  background: rgb(97, 97, 250);
  border-radius: 5px;
  box-shadow: 0 3px 6px grey;
  transition: background-color .3s ease-in, transform .3s ease-out, box-shadow .5s ease-in;
}

.form__button:hover{
  color: rgb(97, 97, 250);
  background: white;
}

/* Errors */
.form__inline-error {
  font-size: .85em;
  color: var(--error);
}

/* Validations */
/* Bordes */
.form__item.invalid :where(.form__input, .form__textarea),
.form__item.valid :where(.form__input, .form__textarea) {
  outline-offset: 1px;
  border-width: 3px;
  border-style: solid;
}

.form__item.valid :where(.form__input, .form__textarea) {
  border-color: var(--success);
}

.form__item.invalid :where(.form__input, .form__textarea) {
  border-color: var(--error);
}

/* Icons */
.form__item:where(.valid, .invalid) .form__icon-container {
  display: grid;
  place-items: center;
}

.form__item.valid .form__icon--valid,
.form__item.invalid .form__icon--invalid {
  display: initial;
}

/* Responsive */
@media screen and (min-width: 920px) {
  .contact__image {
    display: flex;
    width: 400px;
    margin-right: 40px;
    margin-left: -50px;
    height: 550px;
    background: url("../imagenes/Contactenos.jpg") no-repeat center / 100%;
    
  }
}