.hobbies {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.hobbies__title{
    text-align: center;
    font-weight: 800;

}
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    gap: 1em;
    margin-left: 30px;
}

.hobbies__box {
    background-color: rgb(177, 132, 8);
    text-align: center;
    padding: 1em 0.5em;
    border-radius: 5px;
    color: white;
    transition: all 1s;
}
.hobbies__box:hover {
    background-color: white;
    color: black;
}

@media screen and (min-width: 0){

}

@media screen and (min-width: 768px){

  }

@media screen and (min-width: 992px){
    .hobbies__title{
        margin-bottom: 60px;
    }
}