.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: -90px;
  width: 100%;
  opacity: 0.8;
  align-items: center;
  background-color: rgb(163, 163, 163);
}

.menu__header {
  display: flex;
}
.menu__logo {
  width: 130px;
  height: 90%;
}

.menu__title {
  text-align: center;
  padding: 10px;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
}

.burger div {
    border: 0rem;
    padding: .2rem;
    background: rgb(255, 255, 255);
    margin: .3rem;
    width: 2.5rem;
}

.menu__list__item {
    list-style: content;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: .05em;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.menu__list__item a:hover {
    color: white;
}
.navbar {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    background-color: rgb(163, 163, 163);
}
.banderas{
  width: 25px;
  margin-right: 10px;
}
#miniAnimation p {
    position: relative;
    left: -80%;
    display: inline;
    font-weight: 200;
    font-size: 1.5em;
  
    animation-name: animado;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  #links{
    margin-right: 20px;
  }
  @keyframes animado {
    2% {
      left: 28%;
      color: rgb(201, 141, 12);
    }
  
    100% {
      left: 0%;
      color: rgb(243, 182, 50);
    }
  }
  
  #miniAnimation {
    background-image: none;
    margin-top: 10px;
  }

@media screen and (min-width: 0px) {
  .burger {
    position: sticky;
    background-color: rgb(163, 163, 163);
    display: block;
    }
    
    .menu__list.hide {
        display: none;
    }
    .menu {
      font-size: smaller;
      width: 100%;
    }
    .menu__logo {
      width: 80px;
      height: 50%;
      margin-top: 10px;
    }
    .menu__list{
    display: flex;
    flex-Direction: column;
    justify-content: left;
    margin-left: -90px;
    margin-top: 50px;
}
.menu__title {
    display: block;
    margin-left: -30px;
}

.burger div {
    margin-left: 50px;
}
}
@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
  .menu__list.hide {
    display: block;
  }
  .menu__title {
    display: block;
  }
  .menu__logo {
    display: block;
  }
}
